<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset = "utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Landing page for managers to handle their respective apartments">
		
		<title>Welcome to Amaterasu!</title>
		
		<!-- Latest compiled and minified CSS -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!-- jQuery library -->	
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<!--Custom style sheet-->
			<link rel="stylesheet" style="text/css" href = "/static/css/main.css"/>
		
		<!-- Custom Fonts -->
			<link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
			<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
			<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
			<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
			<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
		
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		
		 <!-- Theme CSS -->
			<!--<link href="agency.min.css" rel="stylesheet">-->
		<!--nav bar css-->
			<link rel="stylesheet" type="text/css" href="/static/css/test.css"/>
		
		<!-- nav bar js -->
			<script type="text/javascript" src="/static/js/test.js"></script>
			
		<!-- Font awesome icons -->
			<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
		
		<script type="text/javascript">
			/* Set the width of the side navigation to 250px and the left margin of the page content to 250px and add a black background color to body */
			function openNav() {
				document.getElementById("mySidenav").style.width = "250px";
				document.getElementById("main").style.marginLeft = "250px";
				document.getElementById("header").style.marginLeft = "250px";
				//document.body.style.backgroundColor = "rgba(0,0,0,0.4)"; <!--changes the background color to a more translucent shade of black-->
			}

			/* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
			function closeNav() {
				document.getElementById("mySidenav").style.width = "0";
				document.getElementById("main").style.marginLeft = "0";
				document.getElementById("header").style.marginLeft = "0";
				//document.body.style.backgroundColor = "white";<!--restores the background color of the main div-->
			}
		</script>
	
	</head>
	
	<body>
	<!-- side nav bar -->
	<div id="mySidenav" class="sidenav">
			<img width ="90%" height = auto src="/static/img/amaterasu_5.jpg"/>
            <h3 class="company-title">Amaterasu</br>Kage Bunshin no Jutsu</h3>
			<div class="links"><a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a></div><!--javascript:void(0) prevents the page from refreshing-->
			<div class="links"><a href= {{ url_for('index') }}>Home Page</a></div>
            <div class="links"><a href= {{ url_for('logout') }}>Log Out</a></div>
		</div>
		
<!-- Fixed navbar -->
        <div id="main">
		<nav id="header" class="navbar navbar-fixed-top">
            <div id="header-container" class="container navbar-container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                   <button id= "fancybutton" class="mybutton" onclick="openNav()">Amaterasu</button>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="content"><a href= {{ url_for('aboutus') }}>About Us</a></li>
                        <li class="content"><a href= {{ url_for('description') }}>Project Description</a></li>
                        <li class="content"><a href="#"> {% if session['user'] != None %}Hello {{ session['user'] }}!{% endif %}</a></li>
                    </ul>
                </div><!-- /.nav-collapse -->
            </div><!-- /.container -->
        </nav><!-- /.navbar -->
		
	<!-- contents of the page -->	
        <div class="container">

            <div class="row row-offcanvas row-offcanvas-right">

                <div class="col-xs-12 col-sm-9">
                    <p class="pull-right visible-xs">
                        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
                    </p>
                    <div class="jumbotron">
                        <h1>Welcome to Amaterasu</h1>
                        <p>The best multiplex in Bangalore.</p>
                    </div>
                {% block content %}{% endblock %}    
   <!--
                    <div class="row">
                        <div class="col-xs-6 col-lg-4">
                            <h2>Heading</h2>
                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
                        </div><!--/.col-xs-6.col-lg-4-->
     <!--                   <div class="col-xs-6 col-lg-4">
                            <h2>Heading</h2>
                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
                        </div><!--/.col-xs-6.col-lg-4-->
       <!--                 <div class="col-xs-6 col-lg-4">
                            <h2>Heading</h2>
                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
                        </div><!--/.col-xs-6.col-lg-4-->
       <!--                 <div class="col-xs-6 col-lg-4">
                            <h2>Heading</h2>
                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
                        </div><!--/.col-xs-6.col-lg-4-->
         <!--               <div class="col-xs-6 col-lg-4">
                            <h2>Heading</h2>
                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
                        </div><!--/.col-xs-6.col-lg-4-->
         <!--               <div class="col-xs-6 col-lg-4">
                            <h2>Heading</h2>
                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
                        </div><!--/.col-xs-6.col-lg-4-->
                    </div><!--/row-->
                </div><!--/.col-xs-12.col-sm-9-->

     <!--           
            </div><!--/row-->
            <hr>

            <footer>
                <p>©Amaterasu 2017</p>
            </footer>

        </div><!--/.container-->
		</div>
	</body>
</html>